.box {
    background-color: #D3D3D3;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.center {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
    font-size: 3rem;
    float: left;
    margin-left: 15%;
}

.backSignOut {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.square {
    width: 21rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
}

.gap {
    min-width: 5rem;
}

.gapUp {
    min-height: 15%;
}

.imgBox {
    width: 9rem;
    height: min-content;
    border-radius: 50%;
    display: flex;
    margin-left: 57.5%;
    margin-top: 1%;
    position: absolute;
    border: 2px solid #282c34;
    box-shadow: 10px 10px 5px #00000056;
    -moz-box-shadow: 10px 10px 5px #00000056;
    -webkit-box-shadow: 10px 10px 5px #00000056;
    -khtml-box-shadow: 10px 10px 5px #00000056;
}

.imgBox img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

}