.dogTablePage {
    width: 100%;
}

.horizontalSpacing {
    min-width: 2rem;
}

.disclaimer {
    position: absolute;
    width: 30%;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: rgba(205, 92, 92, 0.829);
    border: 2px groove #ffffff;
    color: rgb(134, 0, 0);
    top: 1rem;
    right: 6rem;
}