.verticalSpacingInf {
    min-height: 2rem;
}

.infoBox {
    width: 17rem;
    height: 17rem;
}

.statBox {
    width: 21rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoBoxText {
    width: 50%;
    height: 11rem;
}

.text {
    color: #282c34;
}

.container {
    display: flex;
    flex-direction: column;
}

.containerRow {
    display: flex;
    flex-direction: row;
}

.rubric {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-auto-rows: min-content;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    border-radius: 1rem;
}

.margin {
    margin-right: 1rem;
    margin-top: 11%;
}

.marginLeft {
    margin-left: 1rem;
}

.marginLeftSmall {
    margin-left: 1rem;
}

.marginTops {
    margin-top: 3rem;
}

.goToPageButton {
    border: none;
    border-radius: 1rem;
    min-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: max-content;
    cursor: pointer;
    background-color: white;
    color: #282c34;
    position: absolute;
    bottom: 0;
    right: 0;
}

.horizontalSpacing {
    min-width: 3rem;
}

.imageBox {
    background-color: black;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}